* {
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}

body {
    margin: 0px;
}

header{
    text-align: center;
    color: white;
    background-image: url('Mountains.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    padding-top: 15em;
    padding-bottom: 15em;
    filter: grayscale(30%);
}


nav {
    background-color: white;
    overflow: hidden;
}

nav a {
    float: right;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

header .button {
  background-color: #DB545A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight:bold;
  
}

h1 {
    font-size:80px;
    margin:auto;
}

header .first_paragraph {
    margin: 20px, 0px;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

aside {
    flex: 40%;
    padding: 50px;
    background-color: #f1f1f1;
    color: #468AC9;
}

main {
    flex: 60%;
    padding: 20px;
    background-color: #468AC9;
    padding:30px;
    color: white;
}

aside p {
    margin:0px; 
}

aside h2 {
    margin-bottom:0px;
    font-stretch: ultra-condensed;
}

main input {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  width:90%;
  margin: 6px 2px;
  font-size:17px;
}

main h2 {
  font-size:40px
}

main .message {
  padding: 10px 10px 80px;
}

main .button {
  background-color: #468AC9;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin:auto;
  border: 3px solid white;
  cursor: pointer;
  font-weight:bold;
}

.responsive {
  width:40%;
  margin: 40px 10px 40px 50px;
}

.below{
      display: flex;
    flex-wrap: wrap;
}

.text {
  flex:40%;
  margin:10px;
    text-align: center;
}

.text h2{
  margin: 60px 0px 20px;
  font-size: 35px;
  font-weight: normal;
}

.text p {
  margin: 0px 50px 0px 0px;
  font-size:17px;
}